@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

* {
	transition: all 0.3s ease-in-out;
}

@layer utilities {
	.no-spinner::-webkit-inner-spin-button,
	.no-spinner::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.no-spinner {
		appearance: textfield;
		-moz-appearance: textfield;
	}
}
